enable NAMESPACES
enable NET_NS
enable PID_NS
enable IPC_NS
enable UTS_NS
enable CGROUPS
enable CGROUP_CPUACCT
enable CGROUP_DEVICE
enable CGROUP_FREEZER
enable CGROUP_SCHED
enable CPUSETS
enable MEMCG
enable KEYS
enable VETH
enable BRIDGE
enable BRIDGE_NETFILTER
enable NF_NAT_IPV4
enable IP_NF_FILTER
enable IP_NF_TARGET_MASQUERADE
enable NETFILTER_XT_MATCH_ADDRTYPE
enable NETFILTER_XT_MATCH_CONNTRACK
enable NETFILTER_XT_MATCH_IPVS
enable IP_NF_NAT
enable NF_NAT
enable NF_NAT_NEEDED
enable POSIX_MQUEUE
enable USER_NS
enable SECCOMP
enable CGROUP_PIDS
enable MEMCG_SWAP
enable MEMCG_SWAP_ENABLED
enable BLK_CGROUP
enable BLK_DEV_THROTTLING
enable IOSCHED_CFQ
enable CFQ_GROUP_IOSCHED
enable CGROUP_PERF
enable CGROUP_HUGETLB
enable NET_CLS_CGROUP
enable CFS_BANDWIDTH
enable FAIR_GROUP_SCHED
enable RT_GROUP_SCHED
enable IP_VS
enable IP_VS_PROTO_TCP
enable IP_VS_PROTO_UDP
enable IP_VS_NFCT
enable IP_VS_RR
enable VXLAN
enable CRYPTO
enable CRYPTO_AEAD
enable CRYPTO_GCM
enable CRYPTO_SEQIV
enable CRYPTO_GHASH
enable XFRM_ALGO
enable XFRM_USER
enable IPVLAN
enable MACVLAN
enable DUMMY
enable CGROUP_NET_PRIO
enable BLK_DEV_DM
enable DM_THIN_PROVISIONING
enable EXT4_FS
enable EXT4_FS_POSIX_ACL
enable EXT4_FS_SECURITY
enable OVERLAY_FS
enable EXT4_FS_SECURITY
enable EXT4_FS_POSIX_ACL
